* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  padding: 10px;
  min-height: 100vh;
  position: relative;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
}
.btnSearch {
  @extend .btn;
  width: 24px;
  height: 24px;
}
.errorMessage {
  text-align: center;
  margin-top: 10px;
}